{% extends "base_usuario.html" %}

{% block body %}

        <div class="container">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button>
                     Ops, Email e/ou Senha informados invalidos
                </div>
            {% endif %}

            <form action="{% url 'login' %}" class="form-signin" role="form" method="post">
                {% csrf_token %}
                <h2 class="form-signin-heading">Login</h2>

                <input type="text" class="form-control" id="id_username" name="username" placeholder="Nome" required autofocus>

                <input type="password" class="form-control" id="id_password" name="password" placeholder="Senha" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>

                <input type="hidden" name="next" value="{{ next }}">

                <center><a href="{% url 'registrar' %}">Registre-se</a></center>
                <center><a class="" href="{% url 'password_reset' %}">Esqueci a senha</a>
                </center>

            </form>
        </div>


{% endblock %}